.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 650%;
    /* margin-top: 15%; */
    margin-bottom: 0px;
    font-style: italic;
    padding-bottom: 0px;
    color: #003057;
}

.modal-button {
    padding: 15px;
}

.title-container {
}

.description {
    padding-top: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    color: #003057;
}
